{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>バス接近情報 by Miyanber</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}" sizes="180x180">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block head %}
    {% endblock head %}
</head>
<body>
    <header>
        <h1>バス接近情報</h1>
    </header>

    {% block content %}
    {% endblock content %}

    <footer>&copy;2023 Miyanber</footer>
</body>
</html>